%% -*- erlang -*-
%%  Simple example with on epx button and one action
%%
[
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {lager, [
          {handlers, [
                      {lager_console_backend, [info,true]},
                      {lager_file_backend,
                       [
                        {"log/lager/error.log", error, 10485760, "$D0", 5},
                        {"log/lager/console.log", info, 10485760, "$D0", 5}
                       ]}
                     ]}
         ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},   %% nothing yet

 %% gpio/hex_gpio
 {gpio, [ 
          {debug, false}            %% driver debugging
          %% {no_auto_create, false}  %% automatically init pin
          %% {chipset, bcm2835},    %% (raspberry pi A/B)
          %% {chipset, omap34xx},   %% (AR drone 2.0)
        ]},
{hex_gpio, []},  %% nothing yet

 %% hex config
 {hex, [
	{nodeid,16#03000401},
	{config,
%% INLINE CONFIG
%% Simple hex_epx button connected to audio output
[
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, 1, {hex_can, []}, {id, chan, type, value}},

 {event, 2,
  {hex_gpio, [{pin,17},{interrupt,both},{debounce,100}]},
  {{xcobid, pdo1_tx, 16#20004}, 17, digital, value}},

%% BUTTON PRESSED and start flash process
 {input,1,
  {{xcobid, pdo1_tx, 16#20004}, 17, digital, []},
  [{on_only, true},{output,[{channel,1}]}, {output,[{channel,2}]}]},

%% Turn off Error LED
 {input,11,
  {{xcobid, pdo1_tx, 16#20004}, 17, digital, []},
  [{off_only, true}, {invert,true}, {output,[{channel,3}]}]},

%% GREEN FLASH STATUS:  0 = ok, 1 .. 255 error =>
%% 0 => 1  1..255 => 0 and feed into output 2 (GREEN LED)
%% =>  0 -1 -2 -255
 {input,2,
  {{xcobid, pdo1_tx, self}, 10, analog, []},
  [{off_only, true}, {analog_to_digital,true}, {analog_scale, -1.0},
   {analog_max,0}, {analog_min,-1},
   {output,[{channel,2}]}]},

%% RED FLASH STATUS: 0 = ok, 1..255 error
%% 0 => 0  1..255 => 1 and feed into output 3 (RED LED)
 {input,3,
  {{xcobid, pdo1_tx, self}, 10, analog, []},
  [{analog_to_digital,true},
   {analog_min, 0}, {analog_max,1},
   {output,[{channel,3}]}]},

%% RUN The flash tool
 {output,1,[{transmit,true},{sustain,1}],
  [{"ena", {hex_debug, [{flash, start}]}},
   {"ena",
      {hex_script,
       [{command,[{cmdline,
		   "erl -noinput -eval 'timer:sleep(5000), erlang:halt(17)'"},
		  {status, [{{xcobid,pdo1_tx,self},10,analog,status}]}
		 ]}]}
   },
%%    {hex_script,
%%     [{command,[{os,"linux"},
%%		{cmdline,"/home/pi/bin/lpc21isp /media/GORDON/BootLoader.hex /dev/ttyUSB0 115200 12000"}]}
%%              {status, {{xcobid,pdo1_tx,self},10,analog,status}}
%%     ]}},
   {"ena", {hex_debug, [{flash, stop}]}}
  ]},

 %% Blink with pin 27
 {output,2,[{out_name, value}, {analog, true},
	    {sustain,1000}, {wait,500}, {repeat,-1}],
  [{"true",
    {hex_gpio, [{pin,27},{init_value,high}]}}
  ]},

 %% Control red output pin 24
 {output, 3, [{transmit,true},{out_name, value}],
  [{"ena", {hex_debug, [{red_led, true}]}},
   {"ena", {hex_gpio, [{pin,24},{init_value,low}]}}
  ]}

]}
]}

].
