%% -*- erlang -*-
%%  Simple example with on epx button and one action
%%
[
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {lager, [
          {handlers, [
                      {lager_console_backend, [info,true]},
                      {lager_file_backend,
                       [
                        {"log/lager/error.log", error, 10485760, "$D0", 5},
                        {"log/lager/console.log", info, 10485760, "$D0", 5}
                       ]}
                     ]}
         ]},

 %% can/hex_can CAN config
 {can, [{interfaces,
	 [
	  {can_udp, 0, [{ttl,1}]}
	 ]}]},
 {hex_can, []},   %% nothing yet

 %% gpio/hex_gpio
 {gpio, [ 
          {debug, false}            %% driver debugging
          %% {no_auto_create, false}  %% automatically init pin
          %% {chipset, bcm2835},    %% (raspberry pi A/B)
          %% {chipset, omap34xx},   %% (AR drone 2.0)
        ]},
{hex_gpio, []},  %% nothing yet

 %% hex config
 {hex, [
	{nodeid,16#03000401},
	{config,
%% INLINE CONFIG
%% Simple hex_epx button connected to audio output
[
 {transmit, 1, {hex_can, []}, {[], [], [], []}},
 {event, 1, {hex_can, []}, {id, chan, type, value}},

 {event, 2,
  {hex_gpio, [{pin,17},{interrupt,both},{direct,true}]},
  {{xcobid, pdo1_tx, 16#20004}, 17, digital, value}},

%% match button pressed and start flash process
 {input,1,
  {{xcobid, pdo1_tx, 16#20004}, 17, digital, []},
  [{springback, true},{output,[{channel,1}]}, {output,[{channel,2}]}]},

%% result of output,1 if done, not when start
 {input,2,
  {{xcobid, pdo1_tx, self}, 1, digital, []},
  [{off_only,true},{output,[{channel,2}]}]},

%% special to handle red led
 {input,3,
  {{xcobid, pdo1_tx, 16#20004}, 3, digital, []},
  [{output,[{channel,3},{target,value}]}]},

%% Start the flash process 
 {output, 1, [{transmit,true},{feedback,true}],
  [{"ena", {hex_debug, [{flash, start}]}},
   {"ena",
      {hex_script, [{command,[{cmdline, "sleep 5"}]}]}},
%%    {hex_script,
%%     [{command,[{os,"linux"},
%%		{cmdline,"/home/pi/bin/lpc21isp /media/GORDON/BootLoader.hex /dev/ttyUSB0 115200 12000"}]}
%%     ]}},
   {"ena", {hex_debug, [{flash, stop}]}}
  ]},

 %% Blink with pin 27 
 {output, 2, [{out_name, value}, {analog, true},
	      {sustain,500}, {wait,200}, {repeat,-1}],
  [{"true",
    {hex_gpio, [{pin,27},{init_value,high}]}}
  ]},

 %% Control red output pin 7
 {output, 3, [{enable,"true"},{target,[{name,value}]}],
  [{"true",
    {hex_gpio, [{pin,7},{init_value,low}]}}
  ]}

]}
]}

].
