%% -*- erlang -*-
%% Config file for gordon
%%
{erl_opts, [debug_info, nowarn_export_all]}.

{deps, 
 [
  {can, ".*", {git, "https://github.com/tonyrog/can.git"}},
  {canopen, ".*", {git, "https://github.com/tonyrog/canopen.git"}},
  {hex, ".*", {git, "https://github.com/tonyrog/hex.git"}},
  {hex_can, ".*", {git, "https://github.com/tonyrog/hex_can.git"}},
  {hex_gpio, ".*", {git, "https://github.com/tonyrog/hex_gpio.git"}},
  {hex_debug, ".*", {git, "https://github.com/tonyrog/hex_debug.git"}},
  {hex_script, ".*", {git, "https://github.com/tonyrog/hex_script.git"}},
  {epx, ".*", {git, "https://github.com/tonyrog/epx.git"}},
  {lager, ".*", {git, "https://github.com/tonyrog/lager.git"}},
  {elpcisp, ".*", {git, "https://github.com/tonyrog/elpcisp.git"}}
 ]}.
