%% -*- erlang -*-
%% Config file for gordon
%%
{erl_opts, [debug_info, nowarn_export_all,  {parse_transform, lager_transform}]}.

{deps, 
 [
  {can, ".*", {git, "https://github.com/tonyrog/can.git"}},
  {canopen, ".*", {git, "https://github.com/tonyrog/canopen.git"}},
  {epx, ".*", {git, "https://github.com/tonyrog/epx.git"}},
  {lager, ".*", {git, "https://github.com/tonyrog/lager.git"}},
  {elpcisp, ".*", {git, "https://github.com/tonyrog/elpcisp.git"}}
 ]}.
