%% test setup for gordon
[
 {can, [
       {wakeup, true},  %% constant (fored by program)
	{interfaces,
	 [
	  {can_udp, 0, [{ttl, 1}]},
	  {can_usb, 1, [{device,"/dev/serial/by-id/usb-LAWICEL_CANUSB_LWZ0GV2R-if00-port0"},{bitrate,250000}]}
	 ]}]},

 {gordon, [{elpc,
	    [{device,"/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_002D5A93-if00-port0"},
	     {baud, 38400},
	     {control, true},        %% NOT default
	     {debug, false},         %% default
	     {control_inv,  false},  %% default
	     {control_swap, false}]  %% default
	    }]}
].
